.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:white !important;
}
.btn-secondary{
  cursor: pointer;
}
.btn-secondary:enabled:hover {
    text-decoration: none;
    color: black !important;
    background:pink !important
}
